version: "3.9"

services:
  someip-service:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: someip_service
    hostname: someip-service
    volumes:
      - ./config:/app/config
    working_dir: /app
    environment:
      - VSOMEIP_CONFIGURATION=/app/config/service.json
      - VSOMEIP_APPLICATION_NAME=service-sample
    command: ./build/service
    networks:
      someip-network:
        ipv4_address: 172.20.0.10
    cap_add:
      - NET_ADMIN
    sysctls:
      - net.ipv4.ip_forward=1

  someip-client:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: someip_client
    hostname: someip-client
    volumes:
      - ./config:/app/config
    working_dir: /app
    environment:
      - VSOMEIP_CONFIGURATION=/app/config/client.json
      - VSOMEIP_APPLICATION_NAME=client-sample
    command: sh -c "sleep 5 && ./build/client"
    networks:
      someip-network:
        ipv4_address: 172.20.0.11
    depends_on:
      - someip-service
    cap_add:
      - NET_ADMIN
    sysctls:
      - net.ipv4.ip_forward=1

networks:
  someip-network:
    driver: bridge
    enable_ipv6: false
    ipam:
      driver: default
      config:
        - subnet: 172.20.0.0/24
          gateway: 172.20.0.1
