version: "3.9"  # optional, can remove since it's obsolete

services:
  someip-service:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: someip_service
    volumes:
      - ./config:/app/config
    working_dir: /app
    command: ./build/service
    networks:
      - someip-network

  someip-client:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: someip_client
    volumes:
      - ./config:/app/config
    working_dir: /app
    command: ./build/client
    networks:
      - someip-network

networks:
  someip-network:
    driver: bridge
